.Window {
  top: 150px !important;
}

.Window__rest, .TitleBar {
  position: absolute !important;
}

.StandaloneControls {
  margin-bottom: 0 !important;
  flex: 1;
}

.StandaloneContainer {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.StandaloneEditor {
  width: 100%;
  height: 5rem;
  resize: none;
  overflow-y: auto;
}
